$navbar-default-bg: gray;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center; 
}

.jumbotron {
  background-image: asset-url('jumbotron_background.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1 {
  color: #eee;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

